{% extends "core/base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load staticfiles %}
{% block main %}
<div class="row spacing">
</div>
<div id="teste"></div>
{% render_bundle 'main' %}
<div class="container">
    <div class="col-md-8">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for game in games %}
                    <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                {% endfor %}
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {% for game in games %}
                    {% if forloop.counter0 == 0 %}
                        <div class="item active">
                            <a href="{% url 'game:detail' pk=game.pk %}"><img src="{{ game.slider_image }}"></a>
                            <div class="carousel-caption">
                            </div>
                        </div>
                    {% else %}
                        <div class="item">
                            <a href="{% url 'game:detail' pk=game.pk %}"><img src="{{ game.slider_image }}"></a>
                            <div class="carousel-caption">
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            
            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        {% for game in games|slice:":2" %}
            <div class="row">
                <div class="container-fluid">
                <img data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" src="{{ game.slider_image }}" role="button" class="img-responsive">
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="row">
    <hr />
    <div class="row spacing">
        <div id="platform_game">JOGOS DA PLATAFORMA
        <a href="{% url 'game:list' %}">
        <button id="button_list_game" type="button" class="btn btn-success">Ver todos</button>
        </a>
        </div>
    </div>
    <hr />
</div>
<div class="row">
    <div class="product-list">
        {% for game in games %}
            <a id="link_game" href="{% url 'game:detail' pk=game.pk %}">
                <div class="product">
                    <div class="inner-product">
                        <div class="figure-image">
                            <img src="{{ game.cover_image.url }}" alt="{{ game.name }}" />
                        </div>
                        <h3 class="product-title">{{game.name}}</h3>
                        <ul class="product-os-info">
                            {% for package in game.package %}
                                {% for platform in package.platforms.all %}
                                    <li>
                                        <label><img src="{{ platform.icon.url }}"></label>
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                </div> <!-- .product -->
            </a>
        {% empty %}
            <div id="row_space_not_game" class="row spacing"></div>
            <div class="container">
                <h3 align="center" >Não há jogos disponíveis</h3>
            </div>
            <div id="row_space_not_game" class="row spacing"></div>
        {% endfor %}
    </div> <!-- .product-list -->
</div>
{% endblock %}
