{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
 "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "version": "15.0"
    }
  },
  "parseOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["eslint:all", "plugin:react/all"]
}
