appdirs==1.4.3
chardet==2.3.0
colorama==0.3.2
Django==1.10.6
django-filter==1.0.2
djangorestframework==3.6.2
html5lib==0.999
Markdown==2.6.8
packaging==16.8
psycopg2==2.7.1
pyparsing==2.2.0
requests==2.4.3
six==1.8.0
urllib3==1.9.1
