<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html lang="en">

  <head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    {% endblock %}
    <title>
      {% block title %}
      {{ title|default:'fUnBox' }}
      {% endblock %}
    </title>



    <!-- CSS and styles -->
    {% block style %}
    <link href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,700|" rel="stylesheet" type="text/css">
    <link href="{% static "fonts/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "fonts/lineo-icon/style.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}"  media="screen,projection"/>
    {% endblock %}
    <!-- Javascript -->
    {% block javascript_header %}
    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "js/plugins.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->
    {% endblock %}
  </head>
  {% block body %}
  <body class="slider-collapse">
      <div id="site-content">
          {% block header %}
          <div class="site-header">

                  <div class="main-navigation">
                      <button class="toggle-menu"><i class="fa fa-bars"></i></button>
                      <ul class="menu">
                          {% block headerItens %}
                          <li class="menu-item home current-menu-item"><a href="{% url 'index' %}"><i class="icon-home"></i></a></li>
                          <li class="menu-item"><a href="{% url 'game:list' %}">Jogos</a></li>
                          <li class="menu-item"><a href="{% url 'about' %}">Sobre</a></li>
                          {% endblock %} <!-- endblock HEADERITENS -->
                      </ul> <!-- .menu -->

                      <div class="mobile-navigation"></div> <!-- .mobile-navigation -->
                  </div> <!-- .main-navigation -->
              </div> <!-- .container -->
          </div> <!-- .site-header -->
          {% endblock %} <!-- endblock HEADER -->

          <main id="color_background" class="main-content">
            <div class="container">
          {% block main %}
          {% endblock %} <!-- endblock MAIN -->
            </div><!-- .container -->
          </main> <!-- .main-content -->
          {% block footer %}
          <div class="site-footer">
            <div class="container">
                <div class="socialnetworks">
                    <div class="social-links square">
                    <!-- logo unb -->
                    </div> <!-- .social-links -->
                </div>
            </div>
            <div class="container">
                <div class="colophon">
                    <div class="copy">Copyright 2017 UnB Game. All rights reserved.</div>
                </div> <!-- .colophon -->
            </div>
          </div> <!-- .site-footer -->

      <div class="overlay"></div>

      <div class="auth-popup popup">
          <a href="#" class="close"><i class="fa fa-times"></i></a>
          <div class="row">
              <div class="col-md-6">
                  <h2 class="section-title">Login</h2>
                  <form action="#">
                      <input type="text" placeholder="Username...">
                      <input type="password" placeholder="Password...">
                      <input type="submit" value="Login">
                  </form>
              </div> <!-- .column -->
              <div class="col-md-6">
                  <h2 class="section-title">Create an account</h2>
                  <form action="#">
                      <input type="text" placeholder="Username...">
                      <input type="text" placeholder="Email address...">
                      <input type="submit" value="register">
                  </form>
              </div> <!-- .column -->
          </div> <!-- .row -->
      </div> <!-- .auth-popup -->
      {% endblock %} <!-- endblock FOOTER -->

  </body>
  {% endblock %} <!-- endblock BODY -->

</html>
