{% extends "core/base.html" %}
{% load static %}
{% load staticfiles %}
{% block main %}
<div class="row spacing">
</div>
<div class="row">
    <div class="col-sm-8">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <a href="static/single.html"><img src="{% static "images/batman.jpg" %}"></a>
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <a href="static/single.html"><img src="{% static "images/sniper.jpg" %}"></a>
                    <div class="carousel-caption">
                    </div>
                </div>

                <div class="item">
                    <a href="single.html"><img src="{% static "images/farcry.jpg" %}"></a>
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <img data-target="#myCarousel" data-slide-to="0" src="{% static "images/batman.jpg" %}"  role="button" class="sideImg">
        <img data-target="#myCarousel" data-slide-to="2"src="{% static "images/farcry.jpg" %}"  role="button" class="sideImg">
    </div>
</div>
<div class="row spacing">
    <hr />
    <div class="row spacing" style="height: 40px">
        <div style="font-size: 30px; font-weight:bold; color:#45b77d; margin-left:15px">JOGOS DA PLATAFORMA</div>
    </div>
    <hr />
</div>
<div class="row">
    <div class="product-list">
        {% for game in games %}
            <div class="product">
                <div class="inner-product">
                    <div class="figure-image">
                        <a href="{% url 'game:show' %}"><img src="{{ game.image }}" alt="Game 1"></a>
                    </div>
                    <h3 class="product-title"><a href="#">{{game.name}}</a></h3>
                    <ul class="product-os-info">
                    <li>
                        <label><img src="{% static "dummy/windows.png" %}"></label>
                    </li>
                    <li>
                        <label><img src="{% static "dummy/linux.png" %}"></label>
                    </li>
                    <li>
                        <label><img src="{% static "dummy/apple.png" %}"></label>
                    </li>
                </ul>
                </div>
            </div> <!-- .product -->
        {% empty %}
        <div class="row spacing" style="height: 200px"></div>
        <div class="container">
            <h3 align="center" >Não há jogos disponíveis</h3>
        </div>
        <div class="row spacing" style="height: 200px"></div>
        {% endfor %}
    </div> <!-- .product-list -->
</div>
{% endblock %}
