{% extends "core/base.html" %}
{% load static %}
{% load staticfiles %}
{% block main %}
<main class="main-content">
    <div class="container" style="width: 980px;">
        <div class="row spacing">
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <a href="static/single.html"><img src="{% static "images/batman.jpg" %}"></a>
                            <div class="carousel-caption">

                            </div>
                        </div>
                        <div class="item">
                            <a href="static/single.html"><img src="{% static "images/sniper.jpg" %}"></a>
                            <div class="carousel-caption">

                            </div>
                        </div>

                        <div class="item">
                            <a href="single.html"><img src="{% static "images/farcry.jpg" %}"></a>
                            <div class="carousel-caption">

                            </div>
                        </div>

                    </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
                </div>


            </div>
            <div class="col-sm-4">
                <img src="{% static "images/batman.jpg" %}" class="sideImg" style="height: 183px;">
                <img src="{% static "images/farcry.jpg" %}" class="sideImg" style="height: 183px;">
            </div>
        </div>
        <div class="row spacing">
        </div>
        <div class="row">
        <!-- <div class="page"> -->
            <!--<div class="filter-bar">
                <div class="filter">
                    <span>
                        <label>Sort by:</label>
                        <select name="#">
                            <option value="#">Popularity</option>
                            <option value="#">Highest Rating</option>
                            <option value="#">Lowest price</option>
                        </select>
                    </span>
                    <span>
                        <label>Genre</label>
                        <select name="#">
                            <option value="#">Show All</option>
                            <option value="#">Action</option>
                            <option value="#">Racing</option>
                            <option value="#">Strategy</option>
                        </select>
                    </span>
                    <span>
                        <label>Show:</label>
                        <select name="#">
                            <option value="#">8</option>
                            <option value="#">16</option>
                            <option value="#">24</option>
                        </select>
                    </span>
                </div> 

                <div class="pagination">
                    <a href="#" class="page-number"><i class="fa fa-angle-left"></i></a>
                    <span class="page-number current">1</span>
                    <a href="#" class="page-number">2</a>
                    <a href="#" class="page-number">3</a>
                    <a href="#" class="page-number">...</a>
                    <a href="#" class="page-number">12</a>
                    <a href="#" class="page-number"><i class="fa fa-angle-right"></i></a>
                </div>  .pagination 
            </div>  .filter-bar -->

            <div class="product-list">
                    <div class="product">
                        <div class="inner-product">
                            <div class="figure-image">
                                <a href="{% url 'game:show' %}"><img src="{% static "dummy/game-1.jpg" %}" alt="Game 1"></a>
                            </div>
                            <h3 class="product-title"><a href="#">Alpha Protocol</a></h3>
                            <ul class="product-os-info">
                            <li>
                                <label><img src="{% static "dummy/windows.png" %}"></label>
                            </li>
                            <li>
                                <label><img src="{% static "dummy/linux.png" %}"></label>
                            </li>
                            <li>
                                <label><img src="{% static "dummy/apple.png" %}"></label>
                            </li>
                        </ul>
                        </div>
                    </div> <!-- .product -->

                    <div class="product">
                        <div class="inner-product">
                            <div class="figure-image">
                                <a href="single.html"><img src="{% static "dummy/game-2.jpg" %}" alt="Game 2"></a>
                            </div>
                            <h3 class="product-title"><a href="#">Grand Theft Auto V</a></h3>
                            <ul class="product-os-info">
                                <li>
                                    <label><img src="{% static "dummy/windows.png" %}"></label>
                                </li>
                                <li>
                                    <label><img src="{% static "dummy/linux.png" %}"></label>
                                </li>
                                <li>
                                    <label><img src="{% static "dummy/apple.png" %}"></label>
                                </li>
                        </ul>
                        </div>
                    </div> <!-- .product -->

                    <div class="product">
                        <div class="inner-product">
                            <div class="figure-image">
                                <a href="single.html"><img src="{% static "dummy/game-3.jpg" %}" alt="Game 3"></a>
                            </div>
                            <h3 class="product-title"><a href="#">Need for Speed rivals</a></h3>
                            <ul class="product-os-info">
                                <li>
                                    <label><img src="{% static "dummy/windows.png" %}"></label>
                                </li>
                                <li>
                                    <label><img src="{% static "dummy/linux.png" %}"></label>
                                </li>
                                <li>
                                    <label><img src="{% static "dummy/apple.png" %}"></label>
                                </li>
                        </ul>
                        </div>
                    </div> <!-- .product -->

                    <div class="product">
                        <div class="inner-product">
                            <div class="figure-image">
                                <a href="single.html"><img src="{% static "dummy/game-4.jpg" %}" alt="Game 4"></a>
                            </div>
                            <h3 class="product-title"><a href="#">Big game hunter</a></h3>
                            <ul class="product-os-info">
                                <li>
                                    <label><img src="{% static "dummy/windows.png" %}"></label>
                                </li>
                                <li>
                                    <label><img src="{% static "dummy/linux.png" %}"></label>
                                </li>
                                <li>
                                    <label><img src="{% static "dummy/apple.png" %}"></label>
                                </li>
                        </ul>
                        </div>
                    </div> <!-- .product -->

                    <div class="product">
                        <div class="inner-product">
                            <div class="figure-image">
                                <a href="single.html"><img src="{% static "dummy/game-5.jpg" %}" alt="Game 1"></a>
                            </div>
                            <h3 class="product-title"><a href="#">Watch Dogs</a></h3>
                            <ul class="product-os-info">
                                <li>
                                    <label><img src="{% static "dummy/windows.png" %}"></label>
                                </li>
                                <li>
                                    <label><img src="{% static "dummy/linux.png" %}"></label>
                                </li>
                                <li>
                                    <label><img src="{% static "dummy/apple.png" %}"></label>
                                </li>
                        </ul>
                        </div>
                    </div> <!-- .product -->


                    <div class="product">
                        <div class="inner-product">
                            <div class="figure-image">
                                <a href="single.html"><img src="{% static "dummy/game-6.jpg" %}" alt="Game 2"></a>
                            </div>
                            <h3 class="product-title"><a href="#">Mortal Kombat X</a></h3>
                            <ul class="product-os-info">
                                <li>
                                    <label><img src="{% static "dummy/windows.png" %}"></label>
                                </li>
                                <li>
                                    <label><img src="{% static "dummy/linux.png" %}"></label>
                                </li>
                                <li>
                                    <label><img src="{% static "dummy/apple.png" %}"></label>
                                </li>
                        </ul>
                        </div>
                    </div> <!-- .product -->


                    <div class="product">
                        <div class="inner-product">
                            <div class="figure-image">
                                <a href="single.html"><img src="{% static "dummy/game-7.jpg" %}" alt="Game 3"></a>
                            </div>
                            <h3 class="product-title"><a href="#">Metal Gear Solid V</a></h3>
                            <ul class="product-os-info">
                                <li>
                                    <label><img src="{% static "dummy/windows.png" %}"></label>
                                </li>
                                <li>
                                    <label><img src="{% static "dummy/linux.png" %}"></label>
                                </li>
                                <li>
                                    <label><img src="{% static "dummy/apple.png" %}"></label>
                                </li>
                        </ul>
                        </div>
                    </div> <!-- .product -->


                    <div class="product">
                        <div class="inner-product">
                            <div class="figure-image">
                                <a href="single.html"><img src="{% static "dummy/game-8.jpg" %}" alt="Game 4"></a>
                            </div>
                            <h3 class="product-title"><a href="#">Nascar '14</a></h3>
                            <ul class="product-os-info">
                                <li>
                                    <label><img src="{% static "dummy/windows.png" %}"></label>
                                </li>
                                <li>
                                    <label><img src="{% static "dummy/linux.png" %}"></label>
                                </li>
                                <li>
                                    <label><img src="{% static "dummy/apple.png" %}"></label>
                                </li>
                        </ul>
                        </div>
                    </div> <!-- .product -->

            </div> <!-- .product-list -->

            <!--<div class="pagination-bar">
                <div class="pagination">
                    <a href="#" class="page-number"><i class="fa fa-angle-left"></i></a>
                    <span class="page-number current">1</span>
                    <a href="#" class="page-number">2</a>
                    <a href="#" class="page-number">3</a>
                    <a href="#" class="page-number">...</a>
                    <a href="#" class="page-number">12</a>
                    <a href="#" class="page-number"><i class="fa fa-angle-right"></i></a>
                </div>  .pagination 
            </div> --> 
        </div>
     </div><!-- .container -->
</main> <!-- .main-content -->
{% endblock %}
