{% extends "core/base.html" %}
{% load static %}
{% load staticfiles %}

{% block main %}
<main class="main-content">

  <div class="container">
    <div class="page">

      <div class="entry-content">
      <br><h2 class="entry-title">Need for Speed Rivals</h2>
      <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
      </div><br>
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="product-images">
              <figure class="large-image">
                <a href="dummy/image-1.jpg"><img src="dummy/single-game-cover.jpg" alt=""></a>
              </figure>
              <div class="thumbnails">
                <a href="dummy/image-2.jpg"><img src="dummy/small-thumb-1.jpg" alt=""></a>
                <a href="dummy/image-3.jpg"><img src="dummy/small-thumb-2.jpg" alt=""></a>
                <a href="dummy/image-4.jpg"><img src="dummy/small-thumb-3.jpg" alt=""></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">


                    <div class="containerCard">
                      <div class="card blue-grey darken-1 medium" >
                        <div class="card-content white-text">
                          <span class="card-title">Need For Speed Rivels</span>
                          <p><strong>Ano: </strong>2017</p></br>
                          <p><strong>Categoria: </strong> Ação</p></br>
                          <p><strong>Equipe de desenvolvimento: </strong> Maria Liz, João Kleber e Glauco Rocha</p></br>
                          <p><strong>Equipe de Arte: </strong>Jorge Figueiredo, Julio Prestes, Deodoro da Fonseca</p></br>
                        </div>
                        <div class="card-action">
                          <a href="#">GitHub</a>
                          <a href="#">Reportar Bug</a>
                        </div>

                      </div>
                      <div class="button-download">
                  <ul>
                  <a class="waves-effect blue-grey waves-light btn" class="button-icon" class="btn btn-primary"><i class="material-icons left"><img src="images/linux-icon.png"></i>Download</a>
                  <a class="waves-effect blue-grey waves-light btn" class="button-icon" class="btn btn-primary" ><i class="material-icons left"><img src="images/windows-icon.png"></i>Download</a>
                  <a class="waves-effect blue-grey waves-light btn" class="button-icon"><i class="material-icons left" class="btn btn-primary"><img src="images/mac-icon.png"></i>Download</a>

                </div>
                </div>
                </div>

              <form class="formulario" action="#">

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .container -->

</main> <!-- .main-content -->

{% endblock %}
