{% extends "core/base.html" %}
{% load static %}
{% load staticfiles %}
{% block headerItens %}
<li class="menu-item home"><a href="{% url 'index' %}"><i class="icon-home"></i></a></li>
<li class="menu-item"><a href="{% url 'game:list' %}">Jogos</a></li>
<li class="menu-item"><a href="{% url 'about' %}">Sobre</a></li>
{% endblock %}
{% block main %}
<div class="row spacing">
</div>
<h1>{{ game.name }}</h1>
<div class="row spacing">
</div>
<div class="col-md-7">
  <div id='carousel-show' class='carousel slide' data-ride='carousel'>
    <div class='carousel-outer'>
        <!-- Wrapper for slides -->
        <div class='carousel-inner'>
            {% for image in game.slider_image %}
              {% if forloop.counter0 == 0%}
                <div class='item active'>
                    <img src="{{ image }}" />
                </div>
              {% else %}
                <div class='item'>
                    <img src="{{ image }}" />
                </div>
              {% endif %}
            {% endfor %}
            {% for video in game.videos.all %}
              <div class="item">
                <video controls="">
                  <source src="{{ video.video.url }}" type="video/mp4">
                </video>
              </div>
            {% endfor %}  
        </div>

        <!-- Controls -->
        <a class='left carousel-control' href='#carousel-show' data-slide='prev'>
            <span class='glyphicon glyphicon-chevron-left'></span>
        </a>
        <a class='right carousel-control' href='#carousel-show' data-slide='next'>
            <span class='glyphicon glyphicon-chevron-right'></span>
        </a>
    </div>

    <!-- Indicators -->

    <ol class='carousel-indicators-show mCustomScrollbar'>
      <div class="fit">
        {% for image in game.slider_image %}
          <li data-target='#carousel-show' data-slide-to='{{ forloop.counter0 }}' ><img id="media_slider" src="{{ image }}" /></li>
        {% endfor %}
      </div>
    </ol>

  </div>
</div>

<div class="col-md-1">
</div>
<div class="col-md-4">
         <div class="panel panel-default bootcards-file">
           <div class="panel-heading">
             <h3 class="panel-title">Sobre o game</h3>
           </div>
           <div class="list-group">
             <div class="list-group-item">
               <p class="list-group-item-text"><strong>Ano: </strong>{{ game.information.launch_year }}</p>
               <br/>
               <p class="list-group-item-text"><strong>Versão: </strong>{{ game.game_version }}</p>
               <br/>
               <p class="list-group-item-text"><strong>Repositório oficial: </strong><a href="{{ game.official_repository }}">{{ game.official_repository }}</a></p>
             </div>
           </div>
           <div class="list-group-item">
             <h4 class="list-group-item-heading">Baixe o jogo:</h4>
           </div>
           <div class="panel-footer">
             <div class="btn-group btn-group-justified">
                <ul id="list_button_platforms">
               {% for package in game.package %}
                 {% for platform in package.platforms.all %}
                    <li>
                      <div class="btn btn-group-justified">
                        <a href="{{ package.package.url }}">
                          <button type="button" class="btn btn-primary btn-lg btn-block">
                            <img src="{{ platform.icon.url }}">
                              {{ platform.name }}
                          </button>
                        </a>
                      </div>
                    </li>
                 {% endfor %}
               {% endfor %}
                </ul>
             </div>
           </div>
         </div>
</div>

<div class="col-md-7">
  <div class="row spacing">
  </div>
         <div class="panel panel-default bootcards-file">
           <div class="panel-heading">
             <h3 class="panel-title">Descrição</h3>
           </div>
           <div class="list-group">
             <div class="list-group-item">
               <p>{{ game.information.description }}</p>
             </div>
             <div class="list-group-item">
               <h3 class="colorH3">Desenvolvedores</h3>
               {% for developer in game.information.developers.all %}
                <p>{{ developer.name }} - <a href="{{ developer.github_page }}">{{ developer.github_page }}</a></p>
               {% endfor %}
             </div>
             <div class="list-group-item">
               <h3 class="colorH3">Prêmios</h3>
               <br>
               {% for award in game.information.awards.all %}
               <p>{{ award.name }} - {{ award.year }}</p>
               {% endfor %}
             </div>
           </div>
         </div>
</div>
{% endblock %}
